/* standard reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* just for energy saving */
body {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* display: flex; class */
.dflex {
  display: flex;
}

/* justify-content: space-between; class */
.jcont-spbtwn {
  justify-content: space-between;
}

/* align-items: center; class */
.alitms-cntr {
  align-items: center;
}

/* column-gap: 15px; class */
.clmn-gap {
  column-gap: 15px;
}

/* setting the style for the navbar */
nav.container {
  background-color: midnightblue;
  border-bottom: 1px solid aliceblue;
}

/* setting the style for the navbar title */
div.nav-left>h1 {
  font-size: 2rem;
  color: aliceblue;
  padding-left: 20px;
  padding-right: 15px;
}

/* setting the style for the unordered-list */
div.nav-links ul {
  list-style-type: none;
}

/* setting the style for the anchors */
div.nav-links a {
  text-decoration: none;
  font-size: 1.1em;
}

/* setting the style for the active links */
div.nav-links a:link {
  color: mediumseagreen;
}

/* setting the mouse-hover behavior for the nav-links */
div.nav-links>ul>li>a:hover {
  color: aliceblue;
}

/* setting the style for visited nav-links */
div.nav-links a:visited {
  color: grey;
}

/* setting the style for the search button */
div.nav-right>div>button {
  border: 1px solid mediumseagreen;
  border-radius: 5px;
  background-color: transparent;
  color: mediumseagreen;
  padding: 5px;
}

/* setting the mouse-hover behavior for the search button */
div.nav-right>div>button:hover {
  background-color: mediumseagreen;
  color: aliceblue;
}

/* setting the style for the search-input */
div.nav-right>div>input {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 5px;
}

/* setting the space between the button end the right-end of the page */
div#search {
  padding-right: 20px;
}

/* setting the relative position for the dropdown menu */
li.dropdown {
  position: relative;
}

/* setting the (invisible) style for dropdown-content menu */
ul.dropdown-content {
  display: none;
  background-color: midnightblue;
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
}

/* setting the mouse-hover style for the dropdown-content menu */
ul.dropdown-content li>a:hover {
  color: black;
  font-weight: bolder;
}

/* setting the mouse-hover behavior for the dropdown-content */
.dropdown:hover ul.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
}

/* creating the dropdown-arrow */
li.dropdown::after {
  content: '\25BC';
  color: mediumseagreen;
}

/* creating the disabled nav-link */
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* invisible label for the mobile menu */
label.mobile {
  display: none;
  cursor: pointer;
  margin-left: auto;
}

/* invisible input checkbox for the mobile menu */
label.mobile input {
  visibility: hidden;
}

label.mobile input:checked{
  color:grey;
}

/* styling the mobile menu icon */
span.menu-icon{
  font-size: 2rem;
  color:aliceblue;
}

/* setting the mouse-hover behavior for the menu icon */
span.menu-icon:hover{
  color:mediumspringgreen;
}

/* setting the media query */
@media screen and (max-width:768px) {

  div.nav-right,
  div.nav-links,
  ul.menu {
    display: none;
  }

  label.mobile {
    display: block;
  }

  label.mobile input:checked+ul.menu {
    display: block;
  }

  label.mobile input{
    margin-right:5px;
  }

  ul.menu {
    position: absolute;
    list-style-type: none;
    background-color: midnightblue;
    border-left:1px solid aliceblue;
    border-bottom:1px solid aliceblue;
    border-radius: 0 0 0 5px;
    padding: 5px;
    margin-top: 1px;
    right:0;
  }

  ul.menu a {
    text-decoration: none;
    color: aliceblue;
  }

  ul.menu a:hover {
    text-decoration: underline;
    text-decoration-color: mediumseagreen;
    text-decoration-thickness: 3px;
  }
}