body{
}

div.container {
    display: flex;
    justify-content: center;
}

div.sub-container {
    width: 90%;
}

div.container aside {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 10%; height: 100vh;
}
aside div.aside-nav {
    background-color: midnightblue;
    width: 100px; height: 50px;
}

nav{
    background-color: lightgray;
    width: 70%; height:25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70%; height: 100vh;
}

main div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: pink;
    width:500px; height: 50%;
}

main div input {
    align-self: center;
    padding: .8em;
    background-color: whitesmoke;
    border:none;
    border-radius: 3px;
    margin-bottom:25px;
}

 nav div {
   color:black;
   font-weight:bold;
   /* padding: .8em; */
 }