@use 'sass:math';

@function remvert($n) {
  @return(math.div($n, 16)*1rem);
}

$r: red;
$b: blue;
$g: green;

body {
  background-color: grey;
  
  div {
    padding: remvert(8);
    text-align: center;
    background-color: gainsboro;
    border: remvert() solid $r;
    
    %color {
      width:fit-content;
      margin: remvert(20) auto;
      color: $g;
    }

    h1 {
      @extend %color;
      text-decoration: underline $b;
    }

    h2 {
      @extend %color;
      padding: 1remvert(16);
      border: remvert(2) solid $r;
    }

    section {
      display: flex;
      
      article {
        padding: remvert(8);
        border: remvert(2) solid $g;
        
        &:nth-child(even) {color: $r;}
        &:nth-child(odd) {color: $b;}
        &+article {border-left: none;}
      }
      
      &+section {
      display: flex;
      justify-content: space-between;
      margin-top: remvert(8);
      
        article:first-child {
          width: 100%;
          color: $g;
          border: remvert(2) solid $b;
        }
      }

      $fs-rem: remvert(16), remvert(32), remvert(48);
        @each $fs in $fs-rem {
          .fs-#{$fs} {font-size: $fs;}
        }

      & div:first-child,
      & div+div {
        height: remvert(45);
        width: remvert(45);
        padding: initial;
        text-align: initial;
      }

      $n: 5;
      @for $i from 1 through 19 {
        @if $i!=10 {
          & div:nth-child(#{$i}) {
            background-color: darken(#fff, calc($n*1%));
            color: lighten(#000, calc($n*1%));
            $n: $n+5;
          }
        } @else {
          & div:nth-child(#{$i}) {
           background-color: $b;
           color: $r;
          }
        }
      }
    }
  }
}
