@use 'random-hex' as *;

body {
  height: 90vh;
  display: grid;
  place-content: center;
  border: 25px dashed random-hex();
  background-color: random-hex();
  border-radius: 25px;

  .box {
    height: min(400px);  width: min(400px);
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 1rem;
    background-color: random-hex();
    border-radius: 5px;
    border: 25px outset random-hex();

    .col {
      height: min(80px);  width: min(80px);
      border-radius: 50%;
      // i'm using for instead, code below:
      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          background-color: random-hex();
          border: 2px inset random-hex();
        }
      }
      // but here the while, code below:
      // $i: 1;
      // @while $i<13 {
      //   &:nth-child(#{$i}) {
      //     background-color: random-hex();
      //     border: 2px inset random-hex();
      //   }
      //   $i: $i+1;
      // }
    }
  }
}