$r: red;
$b: blue;
$g: green;

body {
  background-color: grey;
  
  div {
    padding: 8px;
    text-align: center;
    background-color: gainsboro;
    border: 2px solid $r;
    
    h1 {
      color: $g;
      text-decoration: underline $b;
    }

    section {
      display: flex;
      
      article {
        padding: 8px;
        border: 2px solid $g;
      }

      article:nth-child(even) {color: $r;}
      article:nth-child(odd) {color: $b;}
      
      article + article {border-left: none;}
    }

    section + section {
      display: flex;
      justify-content: center;
      margin-top: 8px;
      
      article:first-child {
        width: 100%;
        color: $g;
        border: 2px solid $b;
      }
    }
  }
}