@use 'variables' as v;
@use 'remverter' as r;

body {
  background-color: v.$gr;

  div {
    padding: r.remverter(v.$padd);
    text-align: center;
    background-color: v.$gain;
    border: r.remverter(v.$bord) solid v.$r;
    
    h1 {
      color: v.$g;
      text-decoration: underline v.$b;
    }
    
    section {
      display: flex;
      
      article {
        padding: r.remverter(v.$padd);
        border: r.remverter(v.$bord) solid v.$g;
      }

      article:nth-child(even) {color: v.$r;}
      article:nth-child(odd) {color: v.$b;}
      
      article + article {border-left: none;}
    }

    section + section {
      display: flex;
      justify-content: center;
      margin-top: r.remverter(v.$padd);

      article:first-child {
        width: 100%;
        color: v.$g;
        border: r.remverter(v.$bord) solid v.$b;
      }
    }
  }
}